<ion-header>
  <ion-toolbar color="principal">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Conheça nossa história</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="compartilhar()">
        <ion-icon slot="end" name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <img src="../../../assets/img/foto-menu.jpg" alt="">
    <ion-card-header>
      <ion-card-subtitle style="font-size: 10px;">Fonte: O Liberal</ion-card-subtitle>
      <ion-card-title style="font-size: 18px;">Conheça a história do município de Santa Izabel, que homenageia uma
        mulher comum e vítima do machismo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A Izabel original era uma enfermeira não profissional. Mas era tão amada e caridosa que o apelido de "santa"
      pegou.
    </ion-card-content>
    <ion-card-content>
      O município de Santa Izabel do Pará completa, nesta semana, 85 anos. Mesmo após todo esse tempo, ainda resta uma
      dúvida sobre a grafia do nome: S ou Z? A pedagoga e historiadora Minervina de Lourdes Soares, dedicada ao registro
      da história da cidade, com cinco livros publicados sobre o tema, explica que é com Z. Isso pela verdadeira Izabel
      que dá nome ao município, que nada tem a ver com a atual padroeira, a Santa Isabel de Portugal (essa com S). Por
      sinal, a padroeira original era Santa Maria. E Izabel era uma mulher que sofreu com o machismo e com o preconceito
      da igreja católica no século XIX, intolerante com uma mulher solteira e que havia se envolvido com um "homem de
      família".Minervina conta que em 1875, o Governo Imperial Português estava iniciando a colonização no Pará. O então
      imperador D. Pedro II autorizou a convocação de um topógrafo para iniciar a ocupação do chamado "Núcleo Colonial
      de Benevides", que compreendia de onde hoje é Marituba até onde acaba o território de Santa Izabel. Valentim José
      Ferreira foi o escolhido para liderar a expedição que faria assentamentos de 20 em 20 quilômetros. Essas ocupações
      são os primórdios da BR-316. Durante a viagem, conheceu uma moça: Izabel. Apaixonou-se e a levou com ela durante
      os trabalhos. Valentim era casado e tinha filhos. A família morava em Belém.A historiadora explica que como chefe
      da expedição, Valentim tinha a responsabilidade de cuidar de todos os trabalhadores. Era responsável por curativos
      e medicação, caso necessário, para as muitas doenças silvestres da época. Então passou essa função e todos os
      materiais e remédios para Izabel. A jovem tinha talento para lidar com a enfermagem. Dócil e atenciosa, cuidava
      pacientemente de todos os trabalhadores e eventuais viajantes encontrados na expedição. Valentim raramente voltava
      para casa. Se uma viagem hoje de Benevides para Belém pode levar uma hora ou mais, dependendo do trânsito, de
      carroça e por trilhas podia demorar um dia inteiro. Ou mais.
    </ion-card-content>
    <ion-card-content>
      "SANTA", UM APELIDO CARINHOSO
      Valentim, diz Minervina, diante da bondade, talento, beleza, pureza e inocência de Izabel, a apelidou de "Santa".
      "Ele costumava dizer aos trabalhadores que não queria moleza e queria terminar o trabalho o quanto antes porque
      queria ver a Santa dele", observa a historiadora. O apelido rapidamente se espalhou entre os trabalhadores da
      expedição.Quando chegou aonde hoje é Santa Izabel, Valentim se encantou com a terra. E ali disse que iria
      construir uma moradia para viver com Izabel. O nome do local não poderia ser outro: Vila Izabel. Os registros
      históricos mostram que era com Z, aponta Minervina. O casal lá ficou até que as responsabilidades com a família
      original obrigaram Valentim a voltar para casa. Ele abandonou Izabel. A moça o continuou esperando e se dedicando
      ao trabalho de enfermeira.A vila se estabeleceu, cresceu e a fama da "Santa Izabel" continuava, pois ajudou muitos
      viajantes pelo caminho que levava ao Maranhão. O local passou a se chamar Vila de Santa Izabel. A historiadora
      mora perto de onde moravam Valentim e Izabel no passado, onde hoje é o bairro Centro.Os colonos então ergueram uma
      capela para Santa Maria, a padroeira original do município de Santa Izabel. Um padre então teve de ser designado
      para cuidar das atividades da igreja. O escolhido foi Antônio Lira Pessoa Maria. Ao chegar no local, que se
      chamava Santa Izabel, mas tinha uma igreja para Santa Maria, ficou curioso e quis conhecer a fundo a história.
    </ion-card-content>

    <ion-card-content>
      PADRE DIFAMOU IZABEL PARA TIRAR O APELIDO DE "SANTA"
      "Quando soube quem era a 'Santa Izabel', o padre se enfureceu. Não admitia que uma mulher solteira e que tinha se
      envolvido com um homem casado, mesmo que não tivesse culpa, fosse chamada de santa. Ainda mais quando havia uma
      santa com esse nome. O padre a chamou de prostituta e a fez ficar conhecida assim", relata a historiadora, que
      passou a se dedicar à história da cidade por sentir falta de material histórico para trabalhar nas escolas do
      município. O padre utilizou todos os recursos que tinha para mudar o nome da vila, que passou a se chamar Vila São
      João Batista.Curiosamente, numa época puritana, extremista, intolerante a mulheres solteiras e que tivessem um
      relacionamento informal com um homem — sobretudo casado e com filhos —, mesmo que não fosse culpa da mulher, a
      população renegou o machismo e defendeu Izabel. Os ocupantes lutaram e conseguiram devolver à vila o nome
      original. Ainda sob a influência da igreja, a vila chegou a se chamar Santa Isabel de Benevides, mas com uma
      alusão direta à santa portuguesa, para desvincular totalmente o nome santo de uma mulher comum e que já fora
      taxada de prostituta, ainda que não fosse.No dia 7 de janeiro de 1934, durante o governo de Magalhães Barata, a
      Vila de Santa Isabel, que era distrito de Belém, foi emancipada. Contudo, ganhou o nome de João Coelho, em
      homenagem ao ex-governador do Pará. A população seguiu a tradição histórica e lutou para que o nome continuasse
      sendo o de Izabel, a "santa enfermeira" e companheira de Valentim. Foram mais 17 anos até que o município,
      finalmente, se chamasse Santa Izabel do Pará. O que sobrou de Valentim na história é o nome dado à rua onde fica a
      Câmara Municipal.A confusão sobre a grafia com S ou com Z, explica Minervina, aumentou quando trabalhos do
      Instituto Brasileiro de Geografia e Estatística (IBGE) indicavam que era com S, mesmo tudo sendo com Z desde os
      documentos históricos mais antigos. A placa da entrada da cidade diz "Santa Isabel" e os visitantes dão de cara
      com uma imagem da santa portuguesa. E um ginásio, logo atrás, cuja grafia é com Z. "Porém, quem tem que determinar
      isso de fato é a Câmara Municipal: se escrevemos com S ou com Z, oficialmente, por lei. Mas em 85 anos isso nunca
      foi feito. Sempre esperamos uma solução para essa questão histórica", conclui a historiadora.
    </ion-card-content>

  </ion-card>
</ion-content>