<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <!-- <img [src]="item.imagem || 'https://image.flaticon.com/icons/svg/149/149071.svg'" alt=""> -->
        <img src="https://firebasestorage.googleapis.com/v0/b/rotas-sip.appspot.com/o/imagens%2Fusuarios%2FQMSl9ghewpRhjrM5VDMq9L9lRu22.jpg?alt=media&token=3a7257ab-0ca5-49e4-941a-68acd7058960" alt="">
        <ion-label>
          <h2>Miguel Guilherme</h2>
          <p>miguel@gmail.com</p>
        </ion-label>
      </div>

      <div class="action-button">
        <ion-button (click)="signOut()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Desconectar
        </ion-button>
      </div>

      <ion-list class="menu-itens" lines="none">
        <ion-item (click)="toggle()" routerLink="/admin/dashboard" routerLinkActive="active">
          <ion-icon name="home"></ion-icon> Dashboard
        </ion-item>

        <ion-item (click)="toggle()" routerLink="/admin/tipos-estabelecimentos" routerLinkActive="active">
          <ion-icon name="pricetags"></ion-icon> Características
        </ion-item>

        <ion-item (click)="toggle()" routerLink="/admin/estabelecimentos" routerLinkActive="active">
          <ion-icon name="location"></ion-icon> Estabelecimentos
        </ion-item>

        <ion-item (click)="toggle()" routerLink="/admin/noticias" routerLinkActive="active">
          <ion-icon name="newspaper"></ion-icon> Notícias
        </ion-item>

        <ion-item (click)="toggle()" routerLink="/admin/eventos" routerLinkActive="active">
          <ion-icon name="calendar"></ion-icon> Eventos
        </ion-item>

        <ion-item (click)="toggle()" routerLink="/admin/anuncios" routerLinkActive="active">
          <ion-icon name="megaphone"></ion-icon> Anúncios
        </ion-item>

        <ion-item (click)="toggle()" routerLink="/admin/usuarios" routerLinkActive="active">
          <ion-icon name="people"></ion-icon> Usuários
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>