<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <img class="home-img" src="../../assets/img/rota-login.png" alt="" srcset="">
  </div>
  <div style="margin-top: -36px" class="ion-padding">
    <h1 class="ion-text-center"><strong>Rotas SIP</strong></h1>
  </div>
  <div class="ion-padding">
    <div style="margin-top: -30px" class="login">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit(); $event.preventDefault()">
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>
        <p style="color: #666; font-size: 15px;" class="ion-text-right">Esqueci minha senha</p>
        <ion-button class="btn-login" type="submit" [disabled]="signupForm.invalid" color="dark" shape="round" expand="block">Entrar</ion-button>
        <ion-button class="btn-login" (click)="criar_conta()" color="principal" shape="round" expand="block">Criar conta</ion-button>
      </form>
    </div>
  </div>
</ion-content>