<ion-header>
  <ion-toolbar color="principal">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{nome}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Pesquisar" (ionInput)="pesquisar($event)"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="itens">
          <ion-list>
            <ion-item *ngFor="let item of itens" (click)="detalhar(item)">
              <ion-thumbnail slot="start">
                <img
                  [src]="item.imagem || 'https://static.vecteezy.com/system/resources/previews/000/357/423/non_2x/shop-vector-icon.jpg'">
              </ion-thumbnail>

              <ion-label>
                <h2>{{item.nome}}</h2>
                <p>{{item.tipo}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>

        <!-- Skeleton screen -->
        <ion-row *ngIf="itens.length == 0">
          <ion-card>
            <img src="../../../assets/img/search.png" alt="">
            <p class="ion-text-center">Não há itens a serem mostrados</p>
          </ion-card>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- fab placed to the bottom end -->
  <ion-fab (click)="add()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="principal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>